.container {
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  .clicker-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    .clicker-input {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;
      .red-clicker {
        background: red;
      }
    }
  }
  .total-counts {
    font-size: 22px;
    font-weight: bold;
  }
}
