<section class="container">
  <h1 style="margin-bottom: 20px;" class="headline">Task {{taskNumber}}</h1>
  <div class="clicker-container">
    <button (click)="onAddClicker()" type="button">Add clicker</button>
    <button (click)="onRemoveClicker()" type="button">Remove clicker</button>
  </div>
  <div class="clicker-container">
    <p>Clickers:</p>
    <div class="clicker-input" *ngFor="let eachClicker of clickerData; index as i">
      <button [ngClass]="onSecondLargestValue() === eachClicker && eachClicker !== 0 ? 'red-clicker' : ''"
        (click)="incrementCount(i)"
        type="button">{{eachClicker}}</button>
    </div>
  </div>
  <div>
    <p style="margin-top: 8px;" class="total-counts">Total counts are {{totalCounts()}}</p>
    <p style="margin-top: 8px;" class="total-counts">
      Second Largest Value
      <span *ngIf="onSecondLargestValue()">
        is {{onSecondLargestValue()}}
      </span>
      <span *ngIf="!onSecondLargestValue()">
        Doesn't Exist
      </span>

    </p>
  </div>
</section>